* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #48B3AF;
  --secondary-color: #A7E399;
  --highlight-color: #F6FF99;
}
body {
  margin: 20px;
  display: flex;
  background-color: var(--primary-color);
}
.btn-reset,
.btn-play {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  margin-bottom: 2px;
  width: 75px;
  height: 50px;
}
.board {
  display: grid;
  grid-template-columns: 110px 110px 100px;
  margin-left: 10px;
}
.cell {
  background-color: var(--secondary-color);
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}
.cell:hover {
  background-color: var(--highlight-color);
}
.cell:hover,
button {
  cursor: pointer;
}