* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #48B3AF;
  --primary-dark-color:rgb(41, 108, 106);
  --secondary-color: #A7E399;
  --highlight-color: #F6FF99;
  --cursor-hover: pointer;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
}
.start {
  background-color: var(--primary-color);
  height: 100vh;
  width: 50vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}
.start h1 {
  margin-bottom: 40px;
  font-size: 4em;
  text-shadow: 5px 5px 5px var(--primary-dark-color);
}
.start h2 {
  margin-bottom: 40px;
  font-size: 3em;
  text-shadow: 5px 5px 5px var(--primary-dark-color);

}
.btn-reset,
.btn-start {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 20px;
  margin-bottom: 2px;
  width: 130px;
  height: 50px;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 3px;
  box-shadow: 5px 10px 5px var(--primary-dark-color);
}
.btn-reset:active {
  margin-top: 10px;
  margin-left: 5px;
  box-shadow: none;
}
.board {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 160px 160px 120px;
}
.cell {
  background-color: var(--secondary-color);
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}
.cell:hover {
  background-color: var(--highlight-color);
}
.cell:hover {
  cursor: var(--cursor-hover);
}
button {
  cursor: pointer;
}
.meta-info {
  margin-top: 20px;
  font-size: 1.7em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.meta-info span:first-child {
  margin-left: 4em;
}
.meta-info span {
  margin-right: 2em;
}
.meta-info p:last-child {
  margin-left: 2em;
  visibility: hidden;
}